:root {
  --hex-jet: #0F0D11;
  --hex-independence: #475263;
  --hex-pale-robin: #4ECDC4;
  --hex-pastel-red: #FF6B6B;
  --hex-thistle: #D0BCD5;
  --hex-white-smoke: #F7F7F2;

  //-- Circle Custom Properties
  --r: 140;
  --cx: 0;
  --cy: 0;
}

.Concealed {
  &-spot {
    cx: var(--cx);
    cy: var(--cy);
    r: var(--r, 120);

    &:nth-of-type(1) {
      clip-path: url('#One');
      fill: var(--hex-pale-robin);
    }
    &:nth-of-type(2) {
      clip-path: url('#Two');
      fill: var(--hex-pastel-red);
    }
    &:nth-of-type(3) {
      clip-path: url('#Three');
      fill: var(--hex-independence);
    }
    &:nth-of-type(4) {
      clip-path: url('#Four');
      fill: var(--hex-thistle);
    }
  }
}

.Concealed {
  &-filter {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    isolation: isolate;

    &::after {
      --hex-smokey-black: #130C1E;

      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--hex-smokey-black, #aaabbb);
      opacity: .6;
      mix-blend-mode: screen;
    }
  }
}

.Concealed {
  position: relative;
  height: 100vh;
  overflow: hidden;

  @media (min-width: 880px) {
    height: auto;
    max-height: 100vw;
  }

  &-content {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    width: 100%;
    transform: translate(-50%, -50%);
  }

  &-headline {
    --hex-presentation-fallback: #686972;
    fill: var(--hex-headline, var(--hex-jet));
    transition: fill .333s ease-in-out;
  }

  &-copy {
    margin-top: -10vh;
    letter-spacing: 2px;
    text-align: center;
  }

  &-emoji {
    display: inline-block;
    margin-left: 20px;
    font-size: 40px;
  }
}

//-- Normalize the usual stuff
body {
  margin: 0;
  color: var(--hex-white-smoke);
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialised;
  -webkit-tap-highlight-color: transparent;
}
