@function cssRandom($min: --min, $max: --max) {
  $randomNum: $min + floor(random() * (($max - $min) + 1));
  @return #{'#{$randomNum}'};
}

:root {
  --theme-invert: 0;

  //-- Default White Ghost Sand rgb(247, 252, 255)
  //-- Secondary Outer Space rgb(66, 75, 84)
  //-- Secondary color: LIGHT CRIMSON rgb(247, 111, 142)

  --rgba-shadows: rgba(
    calc(247 * var(--theme-invert) +
      (1 - var(--theme-invert)) * 247),
    calc(111 * var(--theme-invert) +
      (1 - var(--theme-invert)) * 252),
    calc(242 * var(--theme-invert) +
      (1 - var(--theme-invert)) * 255),
  1);
}

.Galaxy {
  //-- Default Color Rich Black rgb(2, 14, 19)
  //-- Secondary White Ghost Sand rgb(247, 252, 255)

  --rgba-galaxy: rgba(
    calc(245 * var(--theme-invert) +
      (1 - var(--theme-invert)) * 2),
    calc(238 * var(--theme-invert) +
      (1 - var(--theme-invert)) * 14),
    calc(237 * var(--theme-invert) +
      (1 - var(--theme-invert)) * 19),
  1);
  background-color: var(--rgba-galaxy);
  perspective: 50000px;

  transition: background .8s linear;

  &-space {
    position: relative;
    width: 100vw;
    height: 100vh;
    perspective: 3000px;
    transform-origin: center;
    transform: translate3d(
      calc(var(--x) * 5vw),
      calc(var(--y) * 5vh), 0);
    transition: transform .2s linear;

    :nth-child(n) {
      transform-style: preserve-3d;
    }
  }

  &-headline {
    position: absolute;
    top: 40px;
    left: 50%;
    color: var(--rgba-shadows);
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    transform: translatex(-50%);
    transition: color .5s ease;
  }

  &-icon {
    position: relative;
    display: block;
    font-size: 40px;
    letter-spacing: 5px;
    text-align: center;
    text-shadow: 0 0 30px var(--rgba-shadows);

    &::after {
      content: "--";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      font-size: 42px;
      text-shadow: 0 0 30px var(--rgba-shadows);
      filter: blur(2px) brightness(1);
    }
  }
}

.Star {
  --radius: 8;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: calc(var(--radius) * 2px);
  height: calc(var(--radius) * 2px);
  border-radius: 50%;
  transform:
    translate3d(calc(10vw * var(--sin)), 0,
      calc(100vw * var(--cos)))
    translate3d(var(--x), var(--y), var(--z));
  transition: background .8s linear;

  background-image: radial-gradient(circle at center,
      rgba(104, 182, 255, .7) 0%,
      rgba(104, 182, 255, 0) 30%),
      radial-gradient(circle at center,
      rgba(212, 229, 244, .6) 20%,
      rgba(212, 229, 244, 0) 32%),
      radial-gradient(circle at center,
      rgba(249, 252, 255, .3) 30%,
      rgba(249, 252, 255, 0) 60%);

  // background-image: radial-gradient(circle at center,
  //     rgba(33, 79, 57, .7) -10%,
  //     rgba(33, 79, 57, 0) 30%),
  //     radial-gradient(circle at center,
  //     rgba(0, 78, 152, .6) 20%,
  //     rgba(0, 78, 152, 0) 33%),
  //     radial-gradient(circle at center,
  //     rgba(132, 183, 232, .3) 30%,
  //     rgba(132, 183, 232, 0) 70%);

  @for $n from 0 to 250 {
    &:nth-child(#{$n + 1}) {
      --x: calc(#{cssRandom(0, 100)} * 1vw);
      --y: calc(#{cssRandom(0, 100)} * 1vh);
      --z: calc(#{cssRandom(-9000, 9000)} * 1px);
    }
  }
}

//-- Normalizing some stuff
body {
  margin: 0;
  font-family: 'Exo', sans-serif;

  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}
