@function cssRandom($min: --min, $max: --max) {
  $randomNum: $min + floor(random() * (($max - $min) + 1));
  @return #{'#{$randomNum}'};
}

.Galaxy {
  --hex-galaxy: #020e13;
  background-color: var(--hex-galaxy, #000000);
  perspective: 50000px;

  &-space {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    perspective: 5000px;

    :nth-child(n) {
      transform-style: preserve-3d;
    }
  }
}

.Star {
  --hex-star: #f7fcff;
  --hex-star-shim: #004E98;
  --radius: 2;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: calc(var(--radius) * 2px);
  height: calc(var(--radius) * 2px);
  border-radius: 50%;
  background-color: var(--hex-star, #F0F3BD);
  transform:
    translate3d(calc(10vw * var(--sin)), 0,
      calc(100vw * var(--cos)))
    translate3d(var(--x), var(--y), var(--z));
  filter: blur(.5px);

  @for $n from 0 to 300 {
    &:nth-child(#{$n + 1}) {
      --x: calc(#{cssRandom(0, 100)} * 1vw);
      --y: calc(#{cssRandom(0, 100)} * 1vh);
      --z: calc(#{cssRandom(-10000, 10000)} * 1px);
    }
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(var(--radius) * 2px);
    height: calc(var(--radius) * 2px);
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  &::before {
    --radius: 2;

    z-index: -1;
    background-color: var(--hex-star-shim);
    filter: opacity(.7) brightness(4) blur(3px);
  }

  &::after {
    --radius: 3;

    z-index: -2;
    background-color: var(--hex-star-shim);
    filter: opacity(.5) brightness(2) blur(5px);
  }
}

//-- Normalizing some stuff
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}
